<section id="nos-actions">
    <div id="tete-nos-actions">
        <h2 class="pb-4">
            Nos actions
        </h2>
        <p>The social, cultural, technological and environmental problems in which we are committing ourselves every day to achieve better results and sustainable development that allows us to provide a better quality of life to thousands of communities around the world.</p>
    </div>
    <div id="card-nos-actions">
        <div class="card card-nos-actions" style="width: 18rem; border-radius: 5%; padding: 15px; margin: 10px">
            <i class="fa-regular fa-user"></i>
            <div class="card-body">
                <h5 class="card-title">Soutiens</h5>
                <p class="card-text">Gender equality is fundamental to the realization of human rights and a desire to benefit society as a whole, including girls and women.</p>
                <a href="#">
                    <i class="fa-regular fa-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="card card-nos-actions" style="width: 18rem; border-radius: 5%; padding: 15px; margin: 10px">
            <i class="fa-solid fa-building-shield"></i>
            <div class="card-body">
                <h5 class="card-title">Soutiens</h5>
                <p class="card-text">Gender equality is fundamental to the realization of human rights and a desire to benefit society as a whole, including girls and women.</p>
                <a href="#">
                    <i class="fa-regular fa-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="card card-nos-actions" style="width: 18rem; border-radius: 5%; padding: 15px; margin: 10px">
            <i class="fa-solid fa-seedling"></i>
            <div class="card-body">
                <h5 class="card-title">Soutiens</h5>
                <p class="card-text">Gender equality is fundamental to the realization of human rights and a desire to benefit society as a whole, including girls and women.</p>
                <a href="#">
                    <i class="fa-regular fa-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="card card-nos-actions" style="width: 18rem; border-radius: 5%; padding: 15px; margin: 10px">
            <i class="fa-solid fa-cloud"></i>
            <div class="card-body">
                <h5 class="card-title">Soutiens</h5>
                <p class="card-text">Gender equality is fundamental to the realization of human rights and a desire to benefit society as a whole, including girls and women.</p>
                <a href="#">
                    <i class="fa-regular fa-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
