<section class="map-container">
    <h2 class="pb-5">Nos pays d'intervention</h2>
    <div>
        <img class="w-100 h-100" src="{{ asset('images/map.png') }}" alt="Autosuffisance">
    </div>
</section>