<section id="presentation">
		<div id="left-side">
			<img src="{{ asset('images/presentation.jpg') }}" alt="" id="img-presentation">
		</div>

		<div id="right-side">
			<h3>
				Qui sommes-nous ?
			</h3>
			<p>
				We connect ideas with other ONGsto build a better world for everyone</p>
			<hr>
			<h3>
				Que faisons-nous ?</h3>
			<p>Soutiens, encourage les projets locaux, Réaménagement de l'esprit africain</p>
			<hr>
			<h3>
				Pourquoi ?</h3>
			<p>NGOs have the reach and established strategies to collectively provide solutions to major social and cultural problems.</p>
			<hr>
			<a class="btn btn-primary " href="{{ path('about_us')}}">en savoir plus...</a>
		</div>
</section>