
    <div class="wrapper">
        <div class="sidebar">
            <!-- Contenu de la barre de navigation -->
            <div class="sidenav">
                <div class="side"><a href="{{path("index_article")}}">GERER LES ARTICLES</a></div>
                <div class="side"><a href="{{path('app_contact')}}" >GERER LES ADMINS</a></div>
                <div class="side"><a href="{{path('app_adhesion')}}">GERER LES ADHERENTS</a></div>
            </div>
        </div>
    </div>