



<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
      
    </head>
    <body>
      <h1>Demande de {{contact.nom}}</h1>
        <p>Email : {{contact.email}}</p>
        <p>Sujet : {{contact.sujet}}</p>
        <p>Message :</p>
        <div>
            {{contact.message|raw}}
        </div>
    </body>
</html> 

