:root {
    --footer-1-color: #78a3b1;
    --footer-2-color: #032B43 ;
    --bouton-don: #FFC436;
    --bouton-autre: #F88600;
    --text-1: #ffff;
    --text-2: #A1A1A1;
}

#actualites-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(../../images/actualites.avif);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--text-1)
}

.actualitesContainer{
    display: flex;
    justify-content: center;
 }
 
 #actualitesCard{
     box-sizing: content-box;
     display: flex;
     flex-direction: row;
     width: 36em;
     height: 20em;
     margin-bottom: 4% ;
     margin-right: 2%;
     border-radius: 15px;
     background-color: #ebeaea;
 }
 
 #actualites-card-img{
     width: 50%;
     height: 100%;
     border-radius: 15px 0 0 15px;
 }
 
 #actualites-card-body{
     display: flex;
     justify-content: space-evenly;
     flex-direction: column;
     align-items: center;
     width: 50%;
     height: 100%;
     /* box-sizing: border-box; */
     overflow: hidden;
     text-overflow: ellipsis;
     
 }

 .desc{
    max-width: 25% !important; /* Ensure text doesn't exceed parent width */
    max-height: 25% !important;
    overflow: hidden !important; /* Hide overflowing content */
    text-overflow: ellipsis !important; /* Add ellipsis (...) if text overflows */
    white-space: nowrap !important; 
 }
 
 #actualites-card-body .card-text{
     
 }
 
 #actualites-card-body h4,#actualites-card-body p, #actualites-card-body a {
     max-width: 100%; /* Ensure text doesn't exceed parent width */
     max-height: 100%; /* Ensure text doesn't exceed parent height */
     overflow: hidden; /* Hide overflowing content */
     text-overflow: ellipsis; /* Add ellipsis (...) if text overflows */
     white-space: nowrap; 
 }
 
 @media screen and (max-width: 992px) {
     #actualitesCard{
         box-sizing: content-box;
         display: flex;
         flex-direction: column;
         width:15.5em;
         
 
     }
     #actualites-card-img{
         width: 100%;
         height: 50%;
         border-radius: 15px 15px 0 0;
 
        
     }
     #actualites-card-body{
         display: flex;
         justify-content: space-evenly;
         flex-direction: column;
         align-items: center;
         width: 100%;
         height: 50%;
     }
     
 
 }

/* :root {
    --footer-1-color: #78a3b1;
    --footer-2-color: #032B43 ;
    --bouton-don: #FFC436;
    --bouton-autre: #F88600;
    --text-1: #ffff;
    --text-2: #A1A1A1;
}



#actualites-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(../../images/actualites.avif);
    background-size: cover;
    background-position: center;

    text-align: center;
    color: var(--text-1)
}


#actualitesCard {
    border-radius: 5px;
    width: 25em; /* Utilisation d'unités em pour la largeur de la carte */
    max-width: 100%; /* Pour s'assurer que la carte ne dépasse pas la largeur de son conteneur */
    margin-bottom: 30px;
    margin-left: auto; /* Pour centrer les cartes horizontalement */
    margin-right: auto; /* Pour centrer les cartes horizontalement */
}

.actualites-card-img{
    height:12.5em;
    width: 12.5em;
}


@media only screen and (max-width: 350px) {
    #actualitesCard {
        width: 20em; /* Ajuster la largeur maximale pour s'adapter aux petits écrans */
    }

    #text-card-actualites{
        width:10em;

    }

   
} */












/* 
#actualites-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(../../images/actualites.avif);
    background-size: cover;
    background-position: center;

    text-align: center;
    color: var(--text-1)
}

.btn-cards{
    background-color: #F88600 !important;
}

.custom-card-img {
    max-width: 200px; 
    max-height: 300px; 
    width: auto; 
    height: auto; 
} */